.about p{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 35px;
    text-indent: 30px;
}

@media(max-width:700px) {
    .about p{
        font-size: 14px;
        letter-spacing: 1px;
        word-spacing: 1px;
        line-height: 20px;
        text-indent: 15px;
    }
}