.footer {
    padding: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #091935;
    font-family: "Poppins";

    @media(max-width:1199px){
        position: static;
        width: auto;
    }
}

.footer .copyright {
    text-align: center;
}

.footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
    color: #666;
}

.footer .credits a{
    color: #666;
    text-decoration: none;
    transition: .3s;
}

.footer .credits a:hover{
    text-decoration: underline;
}