*{
    box-sizing: border-box;
}

section{
    padding: 60px 0;
    overflow: hidden;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media(min-width:1200px){
        max-width: 1140px;
    }

    @media(min-width:992px){
        max-width: 960px;
    }

    @media(min-width:768px){
        max-width: 720px;
    }

    @media(min-width:576px){
        max-width: 570px;
    }
}

.section-title{
    padding-bottom: 30px;
}

.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #373535;
}

.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #373535;
}

@keyframes customScroll {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Animasyonu uygula */
  .scroll-animation {
    animation: customScroll .5s ease-out;
  }