*{
    box-sizing: border-box;
}

main{
    margin-left: 300px;
}

@media (max-width:1199px){
    main{
        margin-left: 0;
    }
}

section{
    padding: 60px 60px 0 60px;
    overflow: hidden;
    background-color: #e5e5e5;
    color: #091935;
    font-weight: 600;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media(max-width:1200px){
    .container{
        max-width: 1140px;
    }
}

@media(max-width:992px){
    .container{
        max-width: 960px;
    }
}

@media(max-width:768px){
    .container{
        max-width: 720px;
    }

    section{
        padding: 30px 30px 0 30px;
    }
}

@media(max-width:576px){
    .container{
        max-width: 570px;
    }
}

.section-title{
    padding-bottom: 30px;
}

.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #091935;
}

.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #091935;
}